body {
    background-color: #fcb9e7;
    font-family: DM Sans, sans-serif;
}

@media (max-width: 800px) {
    .she-works {
        width: 100vh;
        display: flex;
        flex-direction: column;
    }

    .what-else {
        width: 100vh;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .introduction {
        width: 100vh;
        display: flex;
        flex-direction: column;
    }

    .cartoon-me {
        margin-right: 0px !important;
        text-align: center;
    }

    .name {
        order: 1;
        text-align: center !important;
        margin-right: 0px !important;
    }
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.greeting {
    font-size: 3rem;
    height: 300px;
    margin: 50px;
}

.introduction {
    font-size: 1rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 50px 10px;
}

.name {
    margin-right: 20px;
    text-align: end;
}

.name > .nombre {
    margin: 0;
}

.cartoon-me {
    margin-right: 10px;
}

.work-experience {
    justify-content: center;
}

.container > .she-works {
    display: flex;
    font-size: 0.8em;
}

.work-experience {
    background-color: #cbb3ff;
    text-align: center;
    margin: 10px;
    padding: 30px;
    flex: 1;
    border-radius: 20px;
}

.work-experience > h1 {
    margin: 10px;
}

.work-experience > h2 {
    margin: 0px;
}

.work-experience > h3 {
    margin: 0px;
}

ul {
    text-align: left;
    padding-left: 20px;
}

.what-else {
    justify-content: center;
}

.education {
    text-align: center;
    margin: 10px;
    padding: 30px;
    flex: 1;
}

hr {
    border: 2px solid #a0d683;
}

.education >h2 {
    padding-top: 20px;
}

.education > p {
    margin: 0px;
}

p.school {
    font-style: italic;
}

p.year {
    padding-bottom: 20px;
}

.skills {
    background-color: #b7efc0;
    text-align: center;
    margin: 10px;
    padding: 30px;
    flex: 1;
    border-radius: 20px;
}